@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root{
  /*Font*/
  --font-size-homepage : 14px;
  --font-size-detail: 16px;
  --font-normal : 300;
  --font-medium : 600;
  --font-bold :  800;
  --font-family:"Nunito Sans";
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card{
  transition: transform ease 1s;
}
.card:hover{
  transform: scale3d(1.1,1.1,1.1)
}

